*.js
!vendor/*.js

*.js.map
!vendor/*.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.tmp
*.sublime-workspace
tscommand*.tmp.txt
.tscache/

pids
logs
results
scratch/
.idea/workspace.xml
.idea/tasks.xml
.idea/watcherTasks.xml

npm-debug.log
node_modules
!Gruntfile.js
.d.ts
!bin/**/*
coverage/**/*
xunit.xml
test-reports.xml
!test-scripts/**
!scripts/**
