{
  "plugins": [
    "inline-dotenv",
    ["module-resolver", {
      "alias": {
        "common": "./src/common",
        "core": "./src/core",
        "package.json": "./package.json",
        "src": "./src/core",
        "utils": "./src/common/utils"
      }
    }]
  ],
  "presets": [
    "es2015",
    "stage-2"
  ]
}
