.DS_Store

*.js
!/*.js
!bin/nativescript.js
!vendor/*.js
!resources/**
*.js.map

coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.tmp
*.sublime-workspace
tscommand*.tmp.txt
.tscache/
/lib/.d.ts

pids
logs
results
scratch/
.idea/
.settings/
.vscode/**
!.vscode/launch.json
test-reports.xml

npm-debug.log
node_modules
docs/html

!test-scripts/*.js