.DS_Store
.nyc_output

*.js
!/*.js
!bin/nativescript.js
!bin/nsc.js
!vendor/*.js
!resources/**
!src/common/test/resources/**/*
src/common/test/resources/.DS_Store
*.js.map
!.travis/**/*
coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.tmp
*.sublime-workspace
tscommand*.tmp.txt
.tscache/
/src/.d.ts

pids
logs
results
scratch/
.idea/
.settings/
.vscode/**
!.vscode/launch.json
test-reports.xml

npm-debug.log
node_modules

docs/html
docs-cli

!test-scripts/*.js
!test/files/**/*.js

# From previous submodule
src/common/*.js
!src/common/vendor/*.json

src/common/*.js.map
!src/common/vendor/*.js

src/common/lib-cov
src/common/*.seed
src/common/*.log
src/common/*.csv
src/common/*.dat
src/common/*.out
src/common/*.pid
src/common/*.gz
src/common/*.tgz
src/common/*.tmp
src/common/*.sublime-workspace
src/common/tscommand*.tmp.txt
src/common/.tscache/
src/common/pids
src/common/logs
src/common/results
src/common/scratch/
src/common/.idea/workspace.xml
src/common/.idea/tasks.xml
src/common/.idea/watcherTasks.xml

src/common/npm-debug.log
src/common/node_modules
!src/common/Gruntfile.js
src/common/.d.ts
!src/common/bin/**/*
src/common/coverage/**/*
src/common/xunit.xml
src/common/test-reports.xml
!src/common/test-scripts/**
!src/common/scripts/**
config/test-deps-versions-generated.json
