.idea
.gitattributes
.gitmodules
*.sublime-project
lint.*
.jshint*
.npmignore
*.tgz
test-reports.xml
for-developers.md
prepublish.js
Gruntfile.js
BuildPackage.cmd
tscommand.tmp.txt
.tscache/

bin/nativescript
bin/*.cmd

lib/**/*.ts
lib/**/*.js.map

test/
test-scripts/
.vscode
lib/common/test/
coverage/
scratch/
*.suo
.travis.yml
docs/html/
dev/
