# NodeJS
.npm_cache
node_modules
npm-debug.log

# Src files
.babelrc
.editorconfig
.env
.eslintignore
.eslintrc
.gitattributes
.gitignore
.istanbul.yml
.npmignore
.travis.yml
CONTRIBUTING.md
/src

# Test Files
/coverage
report.xml
/test

# MacOS Files
.DS_Store
