name: 'nativescript -> npm'

on:
  push:
    branches: [ 'main' ]
    paths-ignore:
      - 'packages/**'
  workflow_dispatch:

env:
  NPM_TAG: 'next'

permissions:
  contents: read

jobs:
  release:
    runs-on: macos-latest

    steps:

      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22.14.0

      - name: Setup
        run: npm i --ignore-scripts --legacy-peer-deps --no-package-lock

      - name: Generate Version
        run: |
          echo NPM_VERSION=$(node -e "console.log(require('./package.json').version);")-$NPM_TAG-$(date +"%m-%d-%Y")-$GITHUB_RUN_ID >> $GITHUB_ENV

      - name: Bump Version
        run: npm version $NPM_VERSION

      - name: Build nativescript
        run: npm pack

      - name: Publish nativescript
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
          echo "Publishing nativescript@$NPM_VERSION to NPM with tag $NPM_TAG..."
          npm publish nativescript-$NPM_VERSION.tgz --tag $NPM_TAG
