name: 'nativescript -> npm'

on:
  push:
    branches: [ 'main' ]
    paths-ignore:
      - 'packages/**'
  workflow_dispatch:

env:
  NPM_TAG: 'next'

permissions:
  contents: read

jobs:
  release:
    runs-on: macos-latest

    steps:

      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22.14.0

      - name: Setup
        run: npm i --ignore-scripts --legacy-peer-deps --no-package-lock

      - name: Generate Version
        run: |
          echo NPM_VERSION=$(node -e "console.log(require('./package.json').version);")-$NPM_TAG-$(date +"%m-%d-%Y")-$GITHUB_RUN_ID >> $GITHUB_ENV

      - name: Bump Version
        run: npm version $NPM_VERSION

      - name: Build nativescript
        run: npm pack

      - name: Publish nativescript
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
          echo "Publishing nativescript@$NPM_VERSION to NPM with tag $NPM_TAG..."
          npm publish nativescript-$NPM_VERSION.tgz --tag $NPM_TAG
