name: '@nativescript/doctor -> npm'

on:
  push:
    branches: [ 'main' ]
    paths:
      - 'packages/doctor/**'
  workflow_dispatch:

defaults:
  run:
    working-directory: packages/doctor

env:
  NPM_TAG: 'next'

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    steps:

      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup
        run: npm install

      - name: Generate Version
        run: |
          echo NPM_VERSION=$(node -e "console.log(require('./package.json').version);")-$NPM_TAG-$(date +"%m-%d-%Y")-$GITHUB_RUN_ID >> $GITHUB_ENV

      - name: Bump Version
        run: npm --no-git-tag-version version $NPM_VERSION

      - name: Build @nativescript/doctor
        run: npm pack

      - name: Publish @nativescript/doctor
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
          echo "Publishing @nativescript/doctor@$NPM_VERSION to NPM with tag $NPM_TAG..."
          npm publish nativescript-doctor-$NPM_VERSION.tgz --tag $NPM_TAG
